<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SKS_Service_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SKS_Service_Manager.Properties.Settings>
            <setting name="company_name" serializeAs="String">
                <value>SKS</value>
            </setting>
            <setting name="NIP" serializeAs="String">
                <value>9590560152</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>Paweł</value>
            </setting>
            <setting name="surname" serializeAs="String">
                <value>Kobierski</value>
            </setting>
            <setting name="post_code" serializeAs="String">
                <value>28-400</value>
            </setting>
            <setting name="city" serializeAs="String">
                <value>Pińczów</value>
            </setting>
            <setting name="street_number" serializeAs="String">
                <value>Legionistów 22</value>
            </setting>
            <setting name="phone" serializeAs="String">
                <value>692257275</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>none@gmail.com</value>
            </setting>
            <setting name="mysql_host" serializeAs="String">
                <value>83.15.62.46</value>
            </setting>
            <setting name="mysql_user" serializeAs="String">
                <value>sks</value>
            </setting>
            <setting name="mysql_password" serializeAs="String">
                <value>sks</value>
            </setting>
            <setting name="mysql_database" serializeAs="String">
                <value>sks</value>
            </setting>
            <setting name="mysql_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="percentage" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="krs" serializeAs="String">
                <value />
            </setting>
            <setting name="regon" serializeAs="String">
                <value />
            </setting>
            <setting name="days" serializeAs="String">
                <value>30</value>
            </setting>
        </SKS_Service_Manager.Properties.Settings>
    </userSettings>
</configuration>